[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools
	branch = main
[submodule "duckdb"]
	path = duckdb
	url = https://github.com/bhargav191098/duckdb.git
[submodule "src/ALEX"]
	path = src/ALEX
	url = https://github.com/bhargav191098/ALEX.git
